.projects {
    padding: 50px;
    display: flex;
    align-items: center;
    justify-content: center;

    .content {
        max-width: 750px;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 20px;
    }

    .project {
        display: flex;
        align-items: center;
        gap: 20px;
    }

    img {
        height: auto;
        width: 100%;
        max-width: 350px;
    }

    p {
        text-align: justify;
    }

    @media only screen and (max-width: 750px) {
        .project {
            justify-content: center;
            flex-wrap: wrap;
        }
    }
}